<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que dizer</h3>
        <p>
            se voce tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email Endereco="ricardodias169@gmail.com" Conteudo="Teste Vida"></email></h5>
            <br>
            <span>
                <img src="~/images/phone-app-icon.png" alt="">
            </span>
            <h5>(13) 9874-0724</h5>
            <br>
            <span>
                <img src="~/images/Home-iconred.png">
            </span>
            <h5>Endereco</h5>
        </p>
    </div>
</div>