@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Lanches Preferidos</h1>

<partial name="_Carousel"/>
<div class="row">
    @foreach (var item in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@item"/>
    }
</div>